[Desktop Entry]
Type=Application
Exec=1password
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=1Password
Name=1Password
Comment[en_GB]=
Comment=